<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
<add key="AWSCodeArtifact" value="https://batched-061669522376.d.codeartifact.us-east-2.amazonaws.com/nuget/nuget-repo/v3/" />
</packageSources>
</configuration>