image: public.ecr.aws/a1q8l8p3/bitbucket-pipeline:v2

pipelines:
  default:
    - step:
        name: Build and Deploy
        script:
          - echo "Logging into AWS CodeArtifact"
          - aws --version
          - aws configure set aws_access_key_id $AWS_Key
          - aws configure set aws_secret_access_key $AWS_Secret
          - aws configure set region us-east-2
          - aws codeartifact login --tool dotnet --domain batched --repository nuget-repo
          - echo "Building Batched DB project"
          - cd BatchedDB.Configuration/MigrationBasedBuild/
          - dotnet build
          - cd ../..
          - echo "Building LabelTraxx ModelTenant DB"
          - cd BatchedDB.Tenant.LabelTraxx/StateBasedBuild/
          - dotnet build
          - cd ../..
          - echo "Building LabelTraxx Migration build"
          - cd BatchedDB.Tenant.LabelTraxx/MigrationBasedBuild/
          - dotnet build
          - cd ../..
          - echo "Building Radius ModelTenant DB"
          - cd BatchedDB.Tenant.Radius/StateBasedBuild
          - dotnet build
          - cd ../..
          - echo "Building Radius Migration build"
          - cd BatchedDB.Tenant.Radius/MigrationBasedBuild/
          - dotnet build
          - cd ../..

