name: Testing Workflow

on:
  push:
    branches:
      - '**'  # Run on all branches

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  build_test:
    name: Build Test Pipeline
    uses: LabelTraxx/GitOps/.github/workflows/Build-Test.yaml@latest
    with:
      CODE_TYPE: DOTNET
    secrets: inherit