name: Helm Package

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release Version (e.g., v1, v2, v3, etc.)'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: LabelTraxx
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Package Helm chart
        run: |
          echo "Using release version: ${{ github.event.inputs.release_version }}"
          helm package ./GenericHelmChart --version ${{ github.event.inputs.release_version }}
          helm push ./helm-chart-${{ github.event.inputs.release_version }}.tgz oci://ghcr.io/labeltraxx/charts